<template>
<q-page class="container flex">
    <div class="row items-center"
    style="flex: 1">
      <div class="col-md-5 col-xs-12 bg-orange-4 full-height">
        <div class="row q-gutter-y-ls q-mt-xl justify-center">
          <div class="col-md-6 col-xs-10 q-my-xl rounded-borders bg-red-5">
            <q-form
              @submit="onSubmit"
              @reset="onReset"
              class="q-gutter-md"
            >
              <q-input
                v-model="name"
                label="Usuário *"
                color="yellow-8"
                hint="Name and surname"
                class="q-pa-md"
                lazy-rules
                tem-aligned
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              />
              <q-input
                v-model="password"
                label="Senha *"
                :type="isPwd ? 'password' : 'text'"
                color="yellow-8"
                hint="Password with no Camel Case"
                class="q-pa-md"
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>

              <q-toggle
                v-model="accept"
                color="purple"
                label="I accept the license and terms"
              />

              <div>
                <q-btn
                  label="Submit"
                  type="submit"
                  color="purple"
                  class="q-ma-md"
                />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="pink-2"
                  flat class="q-ml-sm"
                />
              </div>
            </q-form>
          </div>
        </div>
      </div>
      <div
        class="col-md-7 full-height"
        :style="[ tamanho <= 375 ? display = 'none' : '' ]"
      >
        <q-img src="https://static.anime21.blog.br/2019/08/Fire-Force-3_5.png" class="fit">
          <div class="absolute-full text-h6 flex flex-center">
            Hentai OS
          </div>
        </q-img>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      name: null,
      accept: false,
      password: '',
      isPwd: true,

      email: '',
      search: '',
      tel: '',
      url: '',
      time: '',
      date: '',

      tamanho: window.innerWidth
    }
  },

  mounted () {
    window.onresize = () => {
      this.tamanho = window.innerWidth
    }
  },

  methods: {
    onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
      }
    },

    onReset () {
      this.name = null
      this.accept = false
    }
  }
}
</script>

<style scoped>
</style>
